<footer class="footer">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-sm-12 ">
        <div class="footer-widget">
          <a class="mb-4 d-inline-block" href="{{ .Site.BaseURL }}">
            {{ if .Site.Params.logo }}
            <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
            {{ else }}
            <h2 class="mb-0 text-dark">{{ .Site.Title }}</h2>
            {{ end }}
          </a>
          <p class="mb-4">{{ .Site.Params.footer.content | markdownify }}</p>
        </div>
      </div>

<!--
      <div class="col-lg-6">
        <div class="subscribe">
          <h4 class="mb-4">订阅我们！</h4>
          <input type="text" class="form-control mb-4" placeholder="Put your email address">
          <a href="#" class="btn btn-main">Subscribe<i class="ti-angle-right ml-3"></i></a>
        </div>
      </div>
-->
    </div>
  </div>

  <div class="container">
    <div class="row footer-btm mt-5 pt-4 border-top">
      <div class="col-lg-6">
        <!-- Copyright -->
        <p class="footer-copy">
          {{ .Site.Params.copyright | markdownify }}
        </p>
      </div>
      <div class="col-lg-6">
        <div class="footer-btm-menu text-lg-right">
          <img src="{{`favicon.ico` | relURL }}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

<!-- snipcart -->
<script type="text/javascript" id="snipcart" src="https://cdn.snipcart.com/scripts/2.0/snipcart.js"
  data-api-key="M2E5YjA3NjMtYzRiYS00YzVjLWEyYWYtNDY5ZDI0OWZhYjg5"></script>
<script>
  Snipcart.execute('registerLocale', 'en', {
    powered_by: "{{ .Site.Params.Author }}"
  });
</script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.googleAnalitycsID }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}
