{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section blog-wrap border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12 mb-5">
            <div class="single-blog-item ">
              <!--<img src="{{ .Params.Image | relURL }}" alt="{{ .Title | markdownify }}" class="img-fluid
                  w-100">-->
              <div class="blog-item-meta mt-4 mb-3">
                <span class="text-black mr-4"><i class="ti-time mr-1"></i> {{ .PublishDate.Format "2006-01-02" }}</span>
                <span class="text-black mr-3">作者: {{ .Params.Author }}</span>
                {{if .Params.Trans}}
                <span class="text-black mr-3">译: {{ .Params.Trans }}</span>
                {{end}}
                {{if .Params.Origin}}
                <br/>
                <span class="text-black mr-3">原文链接: <a href="{{ .Params.Origin}}" target="_blank">{{ .Params.Origin }}</a></span>
                {{end}}
 
              </div>
{{ if .Site.Params.CDN.enable }}
    {{ $reAltIn := "<img src=\"(.*?)\" alt=\"(.*?)\" ?/?>" }}
    {{ $reAltOut := (printf "<img src=\"%s$1\" alt=\"$2\" />" .Site.Params.CDN.Host )}}
    {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}
    {{ $reAltTitleIn := "<img src=\"(.*?)\" alt=\"(.*?)\" title=\"(.*?)\" ?/?>" }}
    {{ $reAltTitleOut := (printf "<img src=\"%s$1\" alt=\"$2\" title=\"$3\">" .Site.Params.CDN.Host )}}
    {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut | safeHTML }}

    {{ $finalContent }}
{{ else }}
    {{ .Content }}
{{ end }}
            </div>
          </div>
          <div class="col-lg-12 mb-5">
            <ul class="list-inline share">
              <li class="lis-inline-item">
                <h4>Share now :</h4>
              </li>
              {{ range .Site.Params.share }}
              <li class="list-inline-item mb-2 mb-lg-0"><a href="{{ .link }}" target="_blank"><i class="{{ .icon }} mr-2" aria-hidden="true"></i>{{ .name }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
<script type="text/javascript"
        async
        src="https://cdn.bootcss.com/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[\[','\]\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  },
  "HTML-CSS": { linebreaks: { automatic: true } },
  SVG: { linebreaks: { automatic: true } }
});

MathJax.Hub.Queue(function() {
    // Fix <code> tags after MathJax finishes running. This is a
    // hack to overcome a shortcoming of Markdown. Discussion at
    // https://github.com/mojombo/jekyll/issues/199
    var all = MathJax.Hub.getAllJax(), i;
    for(i = 0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
</script>
<style>
code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}
</style>
{{ end }}
