{{ define "main" }}

<!-- Banner -->
{{ if .Site.Data.homepage.banner.enable }}
{{ with .Site.Data.homepage.banner }}
<section class="banner-main py-7" id="banner">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 col-md-8">
        <div class="main-banner">
          <span class="text-color font-weight-bold">{{ .writter | markdownify }}</span>
          <h1 class="mb-3 mt-2">{{ .title | markdownify }}</h1>

          <p class="mb-4">{{ .content | markdownify }}</p>
          <button class="btn btn-main mt-2" onclick="location.href='https://sia.tech/get-started'">
              下载<i class="ti-angle-right ml-3"></i>
          </button>
        </div>
      </div>

      {{ if .image }}
      <div class="col-lg-5 d-none d-lg-block">
        <div class="banner-img pt-5">
          <img src="{{ .image | relURL }}" alt="{{ .title | markdownify }}" class="img-fluid w-100">
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Book preview -->
{{ if .Site.Data.homepage.preview.enable }}
{{ with .Site.Data.homepage.preview }}
<section class="setcion" id="book">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="book-preview">
          <img src="{{`images/about/kindle.png` | relURL}}" class="background-device img-fluid" alt="device">
          <div class="book-pages">
            {{ range .pagePreview }}
            <div class="item">
              <img src="{{ .image | relURL }}" alt="page-preview" class="img-fluid">
              <div class="overlay">
                <a href="{{ .image | relURL }}" class="popup-gallery img-fluid" data-title="Preview"><i
                    class="ti-fullscreen"></i></a>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="section-heading book-info mt-5 mt-lg-0">
          <h2 class="text-lg mb-4">{{ .title | markdownify }}</h2>
          {{ .content | markdownify }}

          <ul class="list-unstyled mt-4 mb-5">
            {{ range .inside }}
            <li><i class="ti-check mr-3"></i> {{ .insideItem | markdownify }}</li>
            {{ end }}
          </ul>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | safeURL }}" class="btn btn-main-2">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!--Services -->
{{ if .Site.Data.homepage.service.enable }}
{{ with .Site.Data.homepage.service }}
<section class="pt-4 section-bottom" id="service">
  <div class="container">
    <div class="row align-items-center">
      {{ range .serviceItem }}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-block mb-4 mb-lg-0">
          <i class="{{ .icon }} text-danger"></i>
          <h4 class="mb-3 mt-4">{{ .title | markdownify }}</h4>
          <p class="mb-0">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Review-->
{{ if .Site.Data.homepage.reviews.enable }}
{{ with .Site.Data.homepage.reviews }}
<section class="section-bottom testimonial" id="review">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="section-heading text-center">
          <h2 class="mb-3 text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-12 col-sm-12 col-md-12 testimonial-wrap">
        {{ range .review}}
        <div class="test-item">
          <div class="testimonial-item-content">
            <div class="test-author-thumb mb-4">
                <!--<img src="{{ .image | relURL }}" alt="Testimonial author" class="img-fluid">-->
              <div class="test-author-info mt-4">
                <ul class="rating list-inline mb-0 {{ .rating }}">
                  <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
                  <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
                  <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
                  <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
                  <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
                </ul>
                <h4 class="mb-0 mt-2">{{ .name }}</h4>
                <p>{{ .designation }}</p>
              </div>
            </div>
            <p class="mb-0">{{ .content | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Awards -->
{{ if .Site.Data.homepage.awards.enable }}
{{ with .Site.Data.homepage.awards }}
<section id="clients-logo-section" class="section-top" id="awards">
  <div class="container">
    <!--<div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    -->

    <div class="row">
      {{ range .award }}
      <div class="col-lg-3 col-sm-6">
        <div class="award-block text-center p-4 border mb-4">
          <i class="{{ .icon }} text-danger"></i>
          <h5 class="mb-3">{{ .title | markdownify }}</h5>
          <h5 class="mb-3 warning">{{ .number| markdownify }}</h5>
          <!--<img src="{{ .image | relURL }}" alt="" class="img-fluid">-->
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Latest blog -->
{{ if .Site.Data.homepage.blog.enable }}
<section class="section blog-home border-top" id="blog">
  <div class="container">
    {{ with .Site.Data.homepage.blog }}
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-heading text-center">
          <h2 class="text-lg mb-3">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range first 3 (where .Site.RegularPages "Type" "post")}}
      <div class="col-lg-4 col-md-6 col-sm-6">
      {{ .Render "post"}}
      </div>
      {{ end }}
    </div>
    <div class="text-center mt-5">
      <a href="/blog" class="btn btn-main">All Post</a>
    </div>
  </div>
</section>
{{ end }}

{{ end }}
